<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title class="center-logo">
      <img src="assets/images/logo_2.png" alt="Logo" class="logo-img">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isLoggedIn" (click)="goToLogin()">Login</ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="offer">
    <ion-card-header>
      <ion-card-title>{{ offer.dogName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Age:</strong> {{ offer.dogAge }}</p>
      <p><strong>Personality:</strong> {{ offer.personality }}</p>
      <p><strong>Walk Time:</strong> {{ offer.walkTime }}</p>
      <p><strong>Area:</strong> {{ offer.area }}</p>
      <p><strong>Owner:</strong> {{ ownerName }}</p>

      <!-- PHONE BUTTON -->
      <ion-button *ngIf="ownerPhone" expand="block" fill="outline" color="success" (click)="callOwner()">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        Call: {{ ownerPhone }}
      </ion-button>

      <!-- EMAIL BUTTON -->
      <ion-button *ngIf="ownerEmail" expand="block" fill="outline" color="primary" (click)="emailOwner()">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        Email: {{ ownerEmail }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>